<div class="panel-text" id="artwork">
	<h1>Artwork</h1>
	<h2>things I've drawn</h2>
	<div class="divider"></div>
	<p>Digital art is something on which I've spent a large part of my life. I'm a big fan of animation, cartoons, and video games, so most of my artwork depict characters and worlds from them. Here are just a few of my most recent drawings.</p>
	<div class="panel-images">
		{% for drawing in site.data.drawings %}
		<a href="/img/art/{{ drawing.filename }}" data-lightbox="art">
			<img src="/img/previews/{{ drawing.filename }}" width="200px">
		</a>
		{% endfor %}
	</div>
</div>