<div class="panel-text" id="artwork">
	<h1>Artwork</h1>
	<h2>things I've drawn</h2>
	<div class="divider"></div>
	<div class="panel-images">
		<a href="/img/art/jinora.png" data-lightbox="art">
			<img src="/img/previews/jinora.png" height="200px"></a>
		<a href="/img/art/duckies.png" data-lightbox="art">
			<img src="/img/previews/duckies.png" height="200px"></a>
		<a href="/img/art/band.png" data-lightbox="art">
			<img src="/img/previews/band.png" height="200px"></a>
		<a href="/img/art/ponytones.png" data-lightbox="art">
			<img src="/img/previews/ponytones.png" height="200px"></a>
		<a href="/img/art/princesses.png" data-lightbox="art">
			<img src="/img/previews/princesses.png" height="200px"></a>
		<a href="/img/art/dota.png" data-lightbox="art">
			<img src="/img/previews/dota.png" height="200px"></a>
	</div>
</div>