<div class="panel-text" id="artwork">
	<h1>Artwork</h1>
	<h2>things I've drawn</h2>
	<div class="divider"></div>
	<a href="/img/art/jinora.png" data-lightbox="art">
		<img src="/img/art/jinora.png" height="180px"></a>
	<a href="/img/art/duckies.png" data-lightbox="art">
		<img src="/img/art/duckies.png" height="180px"></a>
	<a href="/img/art/band.png" data-lightbox="art">
		<img src="/img/art/band.png" height="180px"></a>
	<a href="/img/art/ponytones.png" data-lightbox="art">
		<img src="/img/art/ponytones.png" height="180px"></a>
	<a href="/img/art/princess.png" data-lightbox="art">
		<img src="/img/art/princesses.png" height="180px"></a>
	<a href="/img/art/dota.png" data-lightbox="art">
		<img src="/img/art/dota.png" height="180px"></a>
</div>