<div class="panel-text" id="contact">
	<h1>Contact</h1>
	<h2>how to find me</h2>
	<div class="divider"></div>
	<ul style="list-style-type:none" class="contact">
		<li><span class="fa fa-github-alt" id="icon-projects"></span>
			<a href="https://github.com/dvdfu/">Github</a></li>
		<li><span class="fa fa-tumblr" id="icon-projects"></span>
			<a href="http://dvdfu.tumblr.com/">Tumblr</a></li>
		<li><span class="fa fa-twitter" id="icon-projects"></span>
			<a href="https://twitter.com/dvdfu">Twitter</a></li>
		<li><span class="fa fa-linkedin" id="icon-projects"></span>
			<a href="https://www.linkedin.com/pub/david-fu/8a/792/696">LinkedIn</a></li>
		<li><span class="fa fa-envelope" id="icon-projects"></span>
			<a href="mailto:davidf1212@gmail.com">Gmail</a></li>
	</ul>
</div>