{% for project in site.data.projects %}
	<table style="width:100%"><tr>
		{% if project.url %}
		<td style="float:left;"><a href="{{ project.url }}"><h3>{{ project.name }}</h3></a></td>
		{% else %}
		<td style="float:left;"><h3>{{ project.name }}</h3></td>
		{% endif %}
		<td style="float:right;"><p>{{ project.date | date: "%B %Y"}}</p></td>
	</tr></table>
	{% if project.image %}
	<a href="/img/projects/{{ project.image }}" data-lightbox="{{ project.name }}">
		<img src="/img/projects/{{ project.image }}" class="project-images">
	</a>
	{% endif %}
	<p>{{ project.description }} <b>{{ project.uses }}.</b></p>
{% endfor %}