$black-brown: #2a2222;
$yellow-white: #ffffcc;
$green-blue: #22a044;
$white: #ffffff;

body {
	background-color: $black-brown !important;
}

h1 {
	font-size: 600%;
	font-family: OstrichRegular;
	color: $black-brown;
	text-align: center;
	line-height: 40px;
}

h2 {
	font-family: QuicksandRegular;
	color: $green-blue;
	text-align: center;
}

.icon {
	color: $yellow-white;
	line-height: inherit !important;
	z-index: -1;
}

.circle {
	position: fixed;
    left: 25%;
    top: 50%;
	width: 80px;
	height: 80px;
    margin-left: -40px;
    margin-top: -40px;
	background-color: $green-blue;
	border-radius: 100%;
	z-index: -2;

    line-height: 80px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

.panel {
	position: fixed;
	width: 38%;
	height: 100%;
	left: 100%;
	background-color: $yellow-white;
	padding: 120px 50px 100px 50px;
}

.panel-text {

}

.divider {
	background-color: $black-brown;
	width: 100%;
	height: 2px;
	margin-bottom: 5%;
}

@font-face {
    font-family: OstrichRegular;
    src: url("/assets/fonts/ostrich-regular.ttf");
}

@font-face {
    font-family: QuicksandRegular;
    src: url("/assets/fonts/Quicksand-Regular.otf");
}