body {
	background-color: #2a2222 !important;
}

.circle {
	height: 80px;
	width: 80px;
	background-color: #ffffcc;
	border-radius: 100%;
	position: absolute;
    margin-left: -40px;
    margin-top: -40px;
    // box-shadow: 10px 10px; 
}

.unclicked-circle {
	
}

.clicked-circle {

}