$black-brown: #2a2222;
$yellow-white: #ffffcc;

body {
	background-color: $black-brown !important;
}

.circle {
	position: fixed;
	width: 80px;
	height: 80px;
    margin-left: -40px;
    margin-top: -40px;
    left: 25%;
    top: 50%;
	background-color: $yellow-white;
	border-radius: 100%;
	position: absolute;
	vertical-align: middle;
    // box-shadow: 10px 10px; 
}

.panel {
	position: fixed;
	width: 50%;
	height: 100%;
	left: 50%;
	background-color: $yellow-white;
}

h1 {
	font-size: 600%;
	font-family: OstrichRegular;
	color: $black-brown;
	text-align: center;
}

@font-face {
    font-family: OstrichRegular;
    src: url("/fonts/ostrich-rounded.ttf");
}