$black-brown: #2a2222;
$yellow-white: #ffffcc;
$green-blue: #22a044;
$white: #ffffff;

body {
	background-color: $black-brown !important;
	overflow-x: hidden;
}

h1 {
	position: relative;
	font-size: 600%;
	font-family: OstrichRegular;
	color: $yellow-white;
	text-align: center;
	//padding-top: 20%;
	bottom: 0;
}

h2 {
	font-size: 200%;
	font-family: QuicksandRegular;
	color: $green-blue;
	text-align: center;
}

h3 {
	font-size: 140%;
	color: $green-blue;
	font-family: QuicksandRegular;
}

img {
	margin: 6px 6px 6px 6px;
}

.icon {
	color: $yellow-white;
	line-height: inherit !important;
}

.circle {
	position: fixed;
    left: 25%;
    top: 50%;
	width: 100px;
	height: 100px;
    margin-left: -50px;
    margin-top: -50px;
	background-color: $green-blue;
	border-radius: 100%;

    line-height: 100px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

.panel-bg {
	position: fixed;
	width: 45%;
	height: 100%;
	left: 100%;
	background-color: $yellow-white;
	box-shadow: 0px 0px 40px 20px #111111;
}

.panel-header {
	background-color: $green-blue;
	width: 100%;
	height: 35%;
}

.panel {
	position: absolute;
	width: 45%;
	height: 100%;
	left: 100%;
}

.panel-text {
	margin: 10px 50px 50px 50px;
}

.panel-images {
	text-align: center;
}

.divider {
	background-color: $black-brown;
	width: 100%;
	height: 2px;
	margin-bottom: 5%;
}

.contact {
	text-align: center;
	margin-left: 0px;
}

@font-face {
    font-family: OstrichRegular;
    src: url("/fonts/ostrich-regular.ttf");
}

@font-face {
    font-family: QuicksandRegular;
    src: url("/fonts/Quicksand-Regular.otf");
}