<!DOCTYPE html>
<html>

  {% include head.html %}
  <body>

    <!-- {% include header.html %} -->

  <!--   <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div> -->

    <div class="circle" id="circle-1" name="about"><span class="fa fa-user fa-3x icon"></span></div>
    <div class="circle" id="circle-2" name="projects"><span class="fa fa-wrench fa-3x icon"></span></div>
    <div class="circle" id="circle-3" name="artwork"><span class="fa fa-pencil fa-3x icon"></div>
    <div class="circle" id="circle-4" name="contact"><span class="fa fa-envelope fa-3x icon"></div>
    <div class="circle" id="circle-5" name="resume"><span class="fa fa-file-text fa-3x icon"></div>
    <div class="circle" id="circle-6" name="blog"><span class="fa fa-tumblr fa-3x icon"></div>

    <div class="panel" id="main-box">
      <div class="panel-text" id="about">
        <h1>David Fu</h1>
        <h2>about myself</h2>
        <div class="divider"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<p>
      </div>

      <div class="panel-text" id="projects">
        <h1>Projects</h1>
        <h2>stuff I've done</h2>
        <div class="divider"></div>
        <p>Eeeeuuuggh<p>
      </div>
    </div>

    <!-- {% include footer.html %} -->
  </body>

</html>
