<!DOCTYPE html>
<html>

  {% include head.html %}
  <body>

    <!-- {% include header.html %} -->

  <!--   <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div> -->

    <div class="circle" id="circle-1"></div>
    <div class="circle" id="circle-2"></div>
    <div class="circle" id="circle-3"></div>
    <div class="circle" id="circle-4"></div>
    <div class="circle" id="circle-5"></div>
    <div class="circle" id="circle-6"></div>

    <div class="panel" id="main-box">
      <h1>David Fu</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<p>
    </div>

    <!-- {% include footer.html %} -->
  </body>

</html>
